<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Nguyen's Exercise 3</title> 
        <link rel="stylesheet" href="/styles.css" type='text/css'>
    </head> 
    <body> 
        <h1><a href="/">Link to Start Page</a></h1> 
        <h1>Nguyen's Exercise 3 for hw9b: Nguyen's Article/Form Solution</h1> 
        <h1>Add new article</h1>
        <form>
            <p>
                <label for="title">Title</label>:
                <input type="text" name="title" id="title" required>
            </p>
            <p>
                <label for="content">Content</label>:<br>
                <textarea name="content" id = "content" rows = "3" cols = "30" placeholder="Your text here"></textarea>
            </p>
            <input type="submit" value="Add">
        </form>

        <p id = 'result'></p>
        
        <script src="/ex3.js"></script> 
    </body> 
</html>